{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "es5",
    "semi": true,
    "django": true,
    "plugins": ["prettier-plugin-django"]
}